<section class="section_find">
  <div class="container">
    <h1 class="title">Searching form</h1>
    <form [formGroup]="searchingForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form_input">
        <mat-form-field class="form-row">
          <mat-label>Breed</mat-label>
          <mat-select
            formControlName="Breed"
            (selectionChange)="toggleLimitsInput()"
          >
            <mat-option value="All Breeds">All Breeds</mat-option>
            <mat-option
              *ngFor="let breed of breedsForRender"
              [value]="breed.id"
            >
              {{ breed.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-row">
          <mat-label>Limits of cards</mat-label>
          <input
            matInput
            formControlName="limitsPhoto"
            placeholder="Limits"
            type="text"
            [disabled]="isLimitsInputDisabled"
          />
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-fab extended color="primary">Searching</button>
      </div>
    </form>
  </div>
</section>
